{% extends 'layout.html.twig' %}

{% block body %}
        {#TITLE#}
        <div class="row center">
                <div class="col s12 m12 l12">
                        <h2>TITLE</h2>
                </div>
        </div>
        <div class="row center">
                <div class="col s12 m6 l6">
                        <p>DESCRIPTION DU SITE</p>
                </div>
                <div class="col s12 m6 l6">
                        <p>ICI SERA L'EMPLACEMENT DE CONNEXTION</p>
                </div>
        </div>
        <div class="row center">
                <div class="col s12 m3 l3">
                        <p>JE NE SAIS PAS ENCORE</p>
                </div>
                <div class="col s12 m3 l3">
                        <p>JE NE SAIS PAS ENCORE</p>
                </div>
                <div class="col s12 m3 l3">
                        <p>JE NE SAIS PAS ENCORE</p>
                </div>
        </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
